<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="num">
        <table>
            <tr v-for="n in num" >
                <label v-for="s in size">
                    <td>{{n}} x {{s}} = {{n * s}}</td>
                </label>

            </tr>
        </table>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                num: 2,
                size: 9
            },
            created() {
                for() {
                    
                }
            }            
        });
    </script>
</body>