<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    div#app { padding: 30px; margin: 30px auto; max-width: 200px; 
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; }
    .blue { background-color: lightblue; }
    .pink { background-color: lightpink; }
    </style>
</head>
<body>
    <div id="app" v-bind:class="getCssClass()">
        <label>
            <input type="radio" value="man" v-model="value" v-on:click="clickMan">남자
        </label>
        <label>
            <input type="radio" value="woman" v-model="value" v-on:click="clickWoman">여자
        </label>
        <div v-show="visible1">여자</div>
        <div v-show="visible2">남자</div>
    </div>

    <script type="text/javascript">
    var app = new Vue({
       el: '#app',
       data: {
           value: '',
           visible1: false,
           visible2: false
       },
       methods: {
           getCssClass() {
               if(this.value == "man") return "blue";
               else if(this.value == "woman") return "pink";
            },
           clickMan: function() {
               this.visible1 = true;
               this.visible2 = false;
               this.value = "man";
           },
           clickMan: function() {
               this.visible1 = true;
               this.visible2 = false;
           }
       }
    });
    </script>
</body>
</html>